.container{
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: auto;
  background-color: orange;
  border-radius: 25px;
  border-style: solid;
  border-color: black;
}

.col{
  border: 1px solid black;
  min-width: 30vw;
  min-height: 40vh; 
  margin: 0vh 5vw 0vh 5vw;
  text-align: center;
  font-size: 20px;
  background-color: yellow;
  border-radius: 25px;
}

.col li{
  border: 1px solid black;
  list-style-type: none;
  min-height: 11vh;
  min-width: 8vw;
  margin: 2vh 3vw 2vh 0vw;
  background-color: yellowgreen;
  border-radius: 25px;
}

.col ul{
  min-height: auto;
}